@tailwind base;
@tailwind components;
@tailwind utilities;

@keyframes modal-enter {
  from {
    transform: scale(0.8);
    opacity: 0;
  }
  to {
    transform: scale(1);
    opacity: 1;
  }
}

@keyframes modal-exit {
  from {
    transform: scale(1);
    opacity: 1;
  }
  to {
    transform: scale(0.8);
    opacity: 0;
  }
}

.modal-enter {
  animation: modal-enter 0.3s ease-in-out;
}

.modal-exit {
  animation: modal-exit 0.3s ease-in-out;
}